/* SearchBar.css */
.search-bar-container {
    max-width: 60%;  /* Increase width to 75% of the screen */
    margin: 30px auto;
    padding: 10px;
    background: linear-gradient(145deg, #f7faff, #dce7f7);
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  .search-bar-container form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .search-bar-container input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #b3d4fc;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .search-bar-container input:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
  }
  
  .search-bar-container button {
    background-color: #003366;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-bar-container button:hover {
    background-color: #0056b3;
  }
  
  /* Make it responsive */
  @media (max-width: 768px) {
    .search-bar-container {
      max-width: 90%; /* Make search bar take up 90% on smaller screens */
    }
  }
  